<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bouzer Official Website</title>
  </head>
  <body>
    <div id="home">
      <div id="About">
        <div class="row">
          <div class="home-col-1">
            <h1>Amapiano Producer</h1>
            <img src="https://i.ibb.co/JtYdT4m/background.jpg" />
          </div>
          <div class="home-col-2">
            <p>
              Greetings, I am <span>Bouzer</span>, an accomplished
              <span>Producer</span>, adept in the realms of
              <span>Sound Engineering</span>, <span>Mixing and Mastering</span>.
              With a wealth of experience spanning over a decade, I specialize
              in delivering top-notch services in <span>Mixing</span>,
              <span>Mastering</span>, and <span>Ghost Production</span>. Your
              pursuit of quality sound ends here.
            </p>
          </div>
        </div>
      </div>
      <div class="button-listen">
        <a routerLink="/music">
          <button class="glowing-btn">
            <span class="glowing-txt">LISTEN</span>
          </button>
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
